<style>
	body{
		padding-top:300px;
	}
	input{
		margin-left: 10px;
		vertical-align: 10px;
	}
	#name{
		margin-left: 38px;
	}
	#password{
		margin-left: 11px;
	}
	#psw{
		margin-left: 20px;
	}
	
</style>