.panel-body{
/*background-color: black;*/
}
.panell{
	border-radius: medium;
}
.panel{
	opacity:1;
	background-color: white;
	margin-top: 100px;
	margin-bottom: 100px;
	
}
.panel-heading a {
	color:#ff6600;
	text-decoration: none;
}
label{
	color:#cc9600;#ff6600;
}
.bgimg{
	background: url('/codeigniter/static/image/33.jpg');
	background-repeat: no-repeat;
	background-size: 100% 100%;

}
.btn{
	background-color: #cc9600;	
	color: black;
}
