<style>
.nopadding {
   padding: 0 !important;
   margin: 0 !important;
}
.ssl{
	
}
.top-buffer { margin-top:20px; }
.carousel-inner{
    width: 100%;
    max-height: 600px;
   
  }
  .foropacity{
   background-color:rgba(2,2,2,0.5);
   	
}
.dropdown:hover .dropdown-menu{
	display: block;

}


.underline_eff:hover{
	
    border-bottom: white solid 2px;
    padding-bottom: 5px;

}
.headings{
 border-bottom: black solid 2px;
 padding-bottom: 5px;
 border-bottom-left-radius: 12px;
 border-bottom-right-radius: 12px;

}
.menu_colr{
	color: white;
}
.text_welcome{
	color:red;
}
.dropdown-menu{
	background-color: rgba(200,200,200,0.9);
}
hr.style15 {
	border-top: 4px double #8c8b8b;
	text-align: center;
}
hr.style15:after {
	content: '\002665';
	display: inline-block;
	position: relative;
	top: -15px;
	padding: 0 10px;
	background: #f0f0f0;
	color: #8c8b8b;
	font-size: 18px;
}
.glyphicon-ring {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: 4px solid white;
  color: white;
  display: inline-table;
  text-align: center;
}
.glyphicon-ring .glyphicon-bordered {
  font-size: 20px;
  vertical-align: middle;
  display: table-cell;
}
.verticalLine {
    border-left: thin solid black;
}
#hover_wedding:hover,#hover_bday:hover,#hover_event:hover,
  #hover_conf:hover,#hover_party:hover,#hover_slide:hover{
  background-color: white;
 
}
#containerid{
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
html, body {
    max-width: 100%;
    overflow-x: hidden;
}

.caption1 {
   position: absolute;
    top: 40%;
    left: 0;
    width: 100%;
    color: white;
}
.caption2 {
   position: absolute;
    top: 20%;
    right: 2%;
    width: 100%;
    color: white;
}
.caption3 {
   position: absolute;
    top: 10%;
    left: 12%;
    width: 100%;
    color: white;
}
#img_ht_wd img{
  width:100%;
  height:200px;
}
.row.no-gutter {
  margin-right:0;
  margin-left:0;
}
.row.no-gutter > [class*='col-'] {
  padding-right:0;
  padding-left:0;
}
</style>