.input-mysize { width: 320px; }

.button_submit {
    
    margin-left: 175px;
}
.regi_panel{
	/*background-color:#f2f2f2;*/
	opacity:.7;
}
.panel-heading b{
	color:#ff6600;
}
#img_file{
  box-shadow: none;
  border:none;

}
