

		<div class="row bgimg">
				<div class=" col-lg-4 col-lg-offset-4">
					<div class="panel panel-default">
						<div class="panel-heading">
							<div class="row">
								<div class="col-lg-6">
									<a href="#"><b>Login</b></a>
								</div>
								<div class="col-lg-6">
									<a href='<?php echo site_url('lawns/register');?>'><b>Register</b></a>
								</div>
							</div>
								
						</div>
						<div class=" panell panel-body">
							<form id="login-form" action="BussinessReport" method="GET" role="form">
								<div class="form-group">
									<label>Email Address</label>
									<input type="text" name="username" id="username" tabindex="1" class="form-control" placeholder="Email Address" value="">
								</div>
								<div class="form-group">
									<label>Password</label>
									<input type="password" name="password" id="password" tabindex="2" class="form-control" placeholder="Password">
								</div>
								<div class="form-group text-center">
									<input type="checkbox" tabindex="3" class="" name="remember" id="remember">
									<label for="remember"> Remember Me</label>
								</div>
								<div class="form-group">
									<div class="row">
										<div class="col-lg-6 col-lg-offset-3">
											<input type="submit" name="login-submit" id="login-submit" class="form-control btn " value="Log In">
										</div>
									</div>
								</div>
								<div class="forgetpass text-center">
									<a href="#">Forget Pssword</a>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>