<!DOCTYPE html>
<html ng-app="venuemudel">
<head>
	<title></title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link rel="stylesheet" type="text/css" href="<?php echo base_url(); ?>static/css/lib/bootstrap.min.css"/>
	<link rel="stylesheet" type="text/css" href="<?php echo base_url(); ?>static/css/lawns_home.css"/>
	<link rel="stylesheet" type="text/css" href="<?php echo base_url(); ?>static/css/dashbord.css"/>
	
</head>
<body ng-controller="venuecontroller">
<div class="row">
	<div class="col-lg-12">
		<nav class="foropacity navbar-inverse navbar-fixed-top">
			<div class="container-fluid">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        				<span class="icon-bar"></span>
       					<span class="icon-bar"></span>
       					<span class="icon-bar"></span>                        
     				</button>
					<a class="navbar-brand" href="#">Lawns</a>
				</div>
				<div class="collapse navbar-collapse" id="mynavbar">
					<ul class="nav navbar-nav navbar-right">
						<li class="active"><a class="underline_eff" href='<?php echo site_url('lawns/index');?>'><strong class="menu_colr">Home</strong></a></li>
						<li class="dropdown">
							<a class="underline_eff" href='#' class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><strong class="menu_colr">Facilities</strong></a>
							<ul class="dropdown-menu" role="menu">
								<li><a href="<?php echo site_url("/lawns/dashbord");?>">venue</a></li>
								<li><a href="#">Mehendi</a></li>
								<li><a href="#">Photogrphy</a></li>
								<li><a href="#">Makeup</a></li>
							</ul>
						
						</li>
						<li><a class="underline_eff" href='#' class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><strong class="menu_colr">Event</strong></a></li>
						<li><a class="underline_eff" href='#'><strong class="menu_colr">Photo Gallery</strong></a></li>	
						<li><a class="underline_eff" href='<?php echo site_url('lawns/BussinessLogin');?>'><strong class="menu_colr">Register/Login</strong></a></li>
						<li><a class="underline_eff" href='#'><strong class="menu_colr">Contact Us</strong></a></li>
					</ul>
				</div>
			</div>
		</nav>
	</div>
</div>
<div class="row">
	<div class="col-lg-12" style="height:60px"></div>	
</div>
<div class="row">
	<form class="col-lg-12 col-lg-offset-3 form-inline" action="dashbord" method="GET">
		<select class="form-control" name="budgetrange" id="budgetrange">
			<option>Bugget</option>
			<option>10000</option>
			<option>50000</option>
			<option>100000</option>
			<option>500000</option>
			<option>1000000</option>
		</select>
		<input class="form-control" type="text" name="search" id="search" placeholder="Entere city">
		<input class="form-control" type="submit" value="Search">	
	</form>
</div>
<hr>

<div class="row">
	<div class="col-lg-3">
	
	</div>

	<div class="col-lg-6 panel">
		<div class="panel-body">
			<div class="media" ng-repeat="temp in <?php echo htmlspecialchars(json_encode($data));?>">
				<div class="media-left">
		     		<img class="media-object" style="width:130px; height:150px" src="<?php echo base_url();?>static/image/{{temp.images}}">
		     	</div>
				<div class="media-body">
					<div class="row">
						<div class="col-lg-6">
							<h3 class='media-heading text-success'>{{temp.venue_name}}</h3>
						</div>
						<div class="col-lg-6">
							<b>{{temp.city}}</b>
						</div>
					</div>
					<p>{{temp.Description}}</p>
					<div class="row">
						<div class="col-lg-6">
							<b>Max Cpacity:</b><p class="text-info">{{temp.max_cpacity}}</p>
						</div>
						<div class="col-lg-6">
							<b>Budget Range:</b><p class="">{{temp.min_budget}} to {{temp.max_budget}}</p>
						</div>
					</div>
					<div class="row">
						<div class="col-lg-8">
							<p><b>Web_Site:</b><a href="#">{{temp.web_site}}</a></p>
						</div>
						<div class="col-lg-4">
							<button class="btn btn-primary" id="RedirectToBooking" value = "{{temp.venue_name}}">Book</button>
						</div>
					</div>
		    	</div>
		     	<hr>     	
			</div>
		</div>
	</div>
	<div class="col-lg-3">
	
	
	</div>
</div>
	<div class="row well" style="background-color:#0c1a1e;font-color:white">
		<div class="col-lg-8 col-md-4">
			<h3 style="color:#fcab0e">Contact Us</h3>
			<dl style="color:white">
				<dt><p>Address:</p></dt>
				<dd><p>Baner Road, Beyond Prabhavi Techpark <p>
				<p>Sarvesh Panorama,Pune 411047</p>
				<dt><p>Phone numbers:</p></dt>
				<dd><p>9923673599/9890953206</p></dd>
				<dt><p>E-mail:</p></dt>
				<dd><p>vipulsuryavanshi11@gmail.com</p></dd>
		</div>
		<div class="col-lg-4 col-md-4">
			<h3 style="color:#fcab0e">Map</h3>

			<div id="map" style="width:350px;height:300px;background:yellow">
			</div>
		</div>
		</div>
	</div>

<script>
function myMap() {
  var mapCanvas = document.getElementById("map");
  var mapOptions = {
    center: new google.maps.LatLng(18.564727, 73.778869), zoom: 16
  };
  var map = new google.maps.Map(mapCanvas, mapOptions);
}
</script>



<script src="//maps.googleapis.com/maps/api/js?key=AIzaSyCryCRnqf5tKcmKi-gpS4rHDWOM1GXsXQg&callback=myMap" async="" defer="defer" type="text/javascript"></script>
<script type="text/javascript" src="<?php echo base_url();?>static/js/jquery-2.2.0.js"></script>
<script type='text/javascript' src="<?php echo base_url(); ?>static/js/bootstrap.min.js"></script>
<script src="http://code.jquery.com/ui/1.11.0/jquery-ui.js"></script>
<script type='text/javascript' src="<?php echo base_url(); ?>static/js/angular.js"></script>
<script type='text/javascript' src="<?php echo base_url(); ?>static/js/venue.js"></script>
<script type="text/javascript">
	$(document).ready(function(){
		$('button').click(function (){
			
			var venue_name = $(this);
		

			window.location.href="booking?venue_name=" +venue_name.val();
		});	
	});
</script>

</body>
</html>