<div class="row well" style="background-color:#0c1a1e;font-color:white">
		<div class="col-lg-8 col-md-4">
			<h3 style="color:#fcab0e">Contact Us</h3>
			<dl style="color:white">
				<dt><p>Address:</p></dt>
				<dd><p>Baner Road, Beyond Prabhavi Techpark <p>
				<p>Sarvesh Panorama,Pune 411047</p>
				<dt><p>Phone numbers:</p></dt>
				<dd><p>9923673599/9890953206</p></dd>
				<dt><p>E-mail:</p></dt>
				<dd><p>vipulsuryavanshi11@gmail.com</p></dd>

		</div>
		<div class="col-lg-4 col-md-4">
			<h3 style="color:#fcab0e">Map</h3>

			<div id="map" style="width:350px;height:300px;background:yellow">
			</div>
		</div>
	</div>
</div>

<script>
function myMap() {
  var mapCanvas = document.getElementById("map");
  var mapOptions = {
    center: new google.maps.LatLng(18.564727, 73.778869), zoom: 16
  };
  var map = new google.maps.Map(mapCanvas, mapOptions);
}
</script>
<script src="//maps.googleapis.com/maps/api/js?key=AIzaSyCryCRnqf5tKcmKi-gpS4rHDWOM1GXsXQg&callback=myMap" async="" defer="defer" type="text/javascript"></script>
<script type="text/javascript" src="<?php echo base_url();?>static/js/jquery-2.2.0.js"></script>
<script type='text/javascript' src="<?php echo base_url(); ?>static/js/bootstrap.min.js"></script>

<script type="text/javascript">
	$(document).ready(function(){
		$(".Wedding_Photographers").click(function(){
			$(".Wedding_Photographers_Facility").show();
			$(".Wedding_Venue_Facility,.Makeup_Experts_facility,.Mehendi_Artists_Facility").hide();
		});
	});
	$(document).ready(function(){
		$(".Wedding_Venue").click(function(){
			$(".Wedding_Venue_Facility").show();
			$(".Wedding_Photographers_Facility,.Makeup_Experts_facility,.Mehendi_Artists_Facility").hide();
		});
	});
	$(document).ready(function(){
		$(".Makeup_Experts").click(function(){
			$(".Makeup_Experts_facility").show();
			$(".Wedding_Photographers_Facility,.Wedding_Venue_Facility,.Mehendi_Artists_Facility").hide();
		});
	});
	$(document).ready(function(){
		$(".Mehendi_Artists").click(function(){
			$(".Mehendi_Artists_Facility").show();
			$(".Wedding_Photographers_Facility,.Wedding_Venue_Facility,.Makeup_Experts_facility").hide();

		});
	});
	 $(document).ready(function() {

            $(".hovereff img").hover(
				
               function () {
                  $(this).css({"opacity":"0.7"});
               }, 
				
               function () {
                  $(this).css({"opacity":"1"});
               }
            );
         });
	/*$(document).ready(function(){
		$("#zoom").mouseover(function(){
			$(this).animate({opacity:"0.5"});
			//$("zoom").animate({height:"200px"});
		},
			function(){
				$(this).animate({height:"200px"});

			});
	});*/
	
</script>
</body>
</html>	