<div class="row">
		<div class="col-lg-12">
			<div id="slide" class="carousel slide" data-ride="carousel">
				<div class="carousel-inner" role="listbox">
					<div class="item active">
						<img src="<?php echo base_url(); ?>static/image/ws9.jpg" alt="ws9.jpg" class="ssl" width="100%"/>
					</div>
					<div class="item">
						<img src="<?php echo base_url(); ?>static/image/ws3.jpg" alt="ws3.jpg" class="ssl" width="100%"/>
					</div>
					<div class="item">
						<img src="<?php echo base_url(); ?>static/image/ws7.jpg" alt="ws7.jpg" class="ssl" width="100%"/>
					</div>
					<div class="item">
						<img src="<?php echo base_url(); ?>static/image/ws5.jpg" alt="ws5.jpg" class="ssl" width="100%"/>
					</div>
				</div>
				<a class="left carousel-control" href="#slide" role="button" data-slide="prev">
					<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
					<span class="sr-only">Privious</span>
				</a>
				<a class="right carousel-control" href="#slide" role="button" data-slide="next">
					<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
					<span class="sr-only">next</span>
				</a>
			</div>
		</div>
	</div>
<div>
<!<div class="container" id="containerid">
	<hr class="style15">
		<div class="row">
			<div class="col-lg-12">
				<div class="col-lg-4">
					
				</div>
				<div class="col-lg-12">
					<span><h2 class="text_welcome text-center">Welcome To Wedding Solutions</h2></span>
				</div>
				<div>
					<strong ><p class="text-center">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec lacinia ante lectus. Praesent varius ipsum eget laoreet vestibulum. Morbi hendrerit, metus sagittis vestibulum aucm </p>
					<p class=" text-center ">tincidunt lacus.</p>
					<p class=" text-center ">Morbi mattis augue a ligula vestibulum pretium. Praesent faucibus porta purus, in tincidunt lacus scelerisque ac. Pellentesque vitae sapien odio. Fusce elementum nisi quis felis.</p>
					<p class=" text-center "> Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nullam non leo mollis, mattis augue sit amet, varius orci.
					</p>
					</strong>
				</div>
				
			</div>

		</div>
	
		<div class="row ">
			<div class="col-lg-12 hovereff">
				<div  class="col-lg-6" style="padding-right:0px;padding-left:">
					<div class="text-center grow pic">	
						<a href="<?php echo site_url("/lawns/dashbord");?>" ><img src="<?php echo base_url(); ?>static/image/venue2.jpg" alt="Wedding Venue.jpg" class="image-responsive" width="100%" height="400"/>
						<div class="caption1">
							<h3>Wedding Venue</h3>
						</div></a>
					</div>	
				</div>
				<div  class="col-lg-6" id="img_ht_wd">
					<div class="row no-gutter" >

						<div class="co-lg-12 text-center grow pic">
							<a href="#" >
							<img  src="<?php echo base_url(); ?>static/image/33.jpg" alt="Wedding Photographers.jpg" class="ssl" class="image-responsive"/>
							<div class="caption2">
								<h3>Wedding Photographers</h3>
							</div></a>
						</div>
					</div>	
					<div class="row no-gutter">
						<div class="col-lg-6 col-sm-6  grow pic">
							<a href="#" >
							<img src="<?php echo base_url(); ?>static/image/Makeup.jpg" alt="Makeup Experts.jpg" class="ssl"  class="image-responsive"/>
							<div class="caption3">
								<h3>Makeup Experts</h3>
							</div></a>
						</div>
						<div class="col-lg-6 col-sm-6 grow pic">
							<a href="#" >
							<img src="<?php echo base_url(); ?>static/image/Mehendi.jpg" alt="Mehendi Artist.jpg" class="ssl"  class="image-responsive"/>
							<div class="caption3">
								<h3>Mehendi Artist</h3>
							</div></a>
						</div>
					</div>	
				</div>
			</div>
		</div>
		
	<div class="row panel panel-default">
		<div class="panel-body" style="min-height:450px;overflow-y:scroll;">
			<div class="col-lg-4" id="Facilities">
				<ul style="list-style-type:square">
					<li><h4><a class="Wedding_Venue" href="#inline">Wedding Venue</a></h4></li>
					<li><h4><a class="Wedding_Photographers" href="#inline">Wedding Photographers</a></h4></li>
					<li><h4><a class="Makeup_Experts" href="#inline">Makeup Experts</a></h4></li>
					<li><h4><a class="Mehendi_Artists" href="#inline">Mehendi Artists</a></h4></li>
					
				</ul>

			</div>
			<div  class="col-lg-8 verticalLine Wedding_Venue_Facility">
				<h3>Wedding Venue</h3>
				<p>Vivamus eget euismod nulla, et viverra dui. Duis condimentum luctus lacus, luctus finibus tortor tempor ut. Integer convallis sit amet tellus non ullamcorper. Mauris fermentum metus sed dignissim tempus. Mauris ut elit vel odio tincidunt fringilla quis sit amet lectus. Vestibulum elementum erat in sem bibendum efficitur. Fusce convallis tortor eu aliquet condimentum. Cras in odio et ligula fermentum facilisis. In hac habitasse platea dictumst. Donec accumsan sollicitudin mauris sed eleifend. Maecenas ac tortor at nisi tincidunt efficitur. Mauris non nisi pharetra, egestas eros scelerisque, euismod libero. Mauris ultrices arcu orci, vitae finibus ante volutpat vitae.</p>
				<div class="row">
					<div class="col-lg-4 col-sm-4 col-md-4">
						<div class="thumbnail">
							<img src="<?php echo base_url(); ?>static/image/ws3.jpg" alt="ws3.jpg" class="ssl" width="100%"/>
						</div>
					</div>
					<div class="col-lg-4 col-sm-4 col-md-4">
						<div class="thumbnail ">
							<img src="<?php echo base_url(); ?>static/image/7.jpg" alt="7.jpg" class="ssl" width="100%"/>
						</div>
					</div>
					<div class="col-lg-4 col-sm-4 col-md-4">
						<div class="thumbnail">
							<img src="<?php echo base_url(); ?>static/image/ws3.jpg" alt="ws3.jpg" class="ssl" width="100%"/>
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-8 col-sm-4 col-md-8 verticalLine Wedding_Photographers_Facility" style="display:none">
				<h3>Wedding Photographers</h3>
				<p>Vivamus eget euismod nulla, et viverra dui. Duis condimentum luctus lacus, luctus finibus tortor tempor ut. Integer convallis sit amet tellus non ullamcorper. Mauris fermentum metus sed dignissim tempus. Mauris ut elit vel odio tincidunt fringilla quis sit amet lectus. Vestibulum elementum erat in sem bibendum efficitur. Fusce convallis tortor eu aliquet condimentum. Cras in odio et ligula fermentum facilisis. In hac habitasse platea dictumst. Donec accumsan sollicitudin mauris sed eleifend. Maecenas ac tortor at nisi tincidunt efficitur. Mauris non nisi pharetra, egestas eros scelerisque, euismod libero. Mauris ultrices arcu orci, vitae finibus ante volutpat vitae.</p>

				<div class="row">
					<div class="col-lg-4 col-sm-4 col-md-4">
						<div class="thumbnail">
							<img src="<?php echo base_url(); ?>static/image/ws1.jpg" alt="ws1.jpg" class="ssl" width="100%"/>
						</div>
					</div>
					<div class="col-lg-4 col-sm-4 col-md-4">
						<div class="thumbnail">
							<img src="<?php echo base_url(); ?>static/image/ws7.jpg" alt="ws7.jpg" class="ssl" width="100%"/>
						</div>
					</div>
					<div class="col-lg-4 col-sm-4 col-md-4">
						<div class="thumbnail">
							<img src="<?php echo base_url(); ?>static/image/ws8.jpg" alt="ws8.jpg" class="ssl" width="100%"/>
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-8 verticalLine Makeup_Experts_facility" style="display:none">
			<h3>Makeup Experts</h3>
				<p>Vivamus eget euismod nulla, et viverra dui. Duis condimentum luctus lacus, luctus finibus tortor tempor ut. Integer convallis sit amet tellus non ullamcorper. Mauris fermentum metus sed dignissim tempus. Mauris ut elit vel odio tincidunt fringilla quis sit amet lectus. Vestibulum elementum erat in sem bibendum efficitur. Fusce convallis tortor eu aliquet condimentum. Cras in odio et ligula fermentum facilisis. In hac habitasse platea dictumst. Donec accumsan sollicitudin mauris sed eleifend. Maecenas ac tortor at nisi tincidunt efficitur. Mauris non nisi pharetra, egestas eros scelerisque, euismod libero. Mauris ultrices arcu orci, vitae finibus ante volutpat vitae.</p>


				<div class="row">
					<div class="col-lg-4 col-sm-4 col-md-4">
						<div class="thumbnail">
							<img src="<?php echo base_url(); ?>static/image/1.jpg" alt="vips2" class="ssl" width="100%"/>
						</div>
					</div>
					<div class="col-lg-4 col-sm-4 col-md-4">
						<div class="thumbnail">
							<img src="<?php echo base_url(); ?>static/image/1.jpg" alt="vips2" class="ssl" width="100%"/>
						</div>
					</div>
					<div class="col-lg-4 col-sm-4 col-md-4">
						<div class="thumbnail">
							<img src="<?php echo base_url(); ?>static/image/1.jpg" alt="vips2" class="ssl" width="100%"/>
						</div>
					</div>
				</div>

			</div>
			<div class="col-lg-8 col-sm-4 col-md-8 verticalLine Mehendi_Artists_Facility" style="display:none">
				<h3>Mehendi Artists</h3>
				<p>Vivamus eget euismod nulla, et viverra dui. Duis condimentum luctus lacus, luctus finibus tortor tempor ut. Integer convallis sit amet tellus non ullamcorper. Mauris fermentum metus sed dignissim tempus. Mauris ut elit vel odio tincidunt fringilla quis sit amet lectus. Vestibulum elementum erat in sem bibendum efficitur. Fusce convallis tortor eu aliquet condimentum. Cras in odio et ligula fermentum facilisis. In hac habitasse platea dictumst. Donec accumsan sollicitudin mauris sed eleifend. Maecenas ac tortor at nisi tincidunt efficitur. Mauris non nisi pharetra, egestas eros scelerisque, euismod libero. Mauris ultrices arcu orci, vitae finibus ante volutpat vitae.</p>

				<div class="row">
					<div class="col-lg-4 col-sm-4 col-md-4">
						<div class="thumbnail">
							<img src="<?php echo base_url(); ?>static/image/mehendi1.jpg" alt="mehendi1.jpg" class="ssl" width="100%"/>
						</div>
					</div>
					<div class="col-lg-4 col-sm-4 col-md-4">
						<div class="thumbnail">
							<img src="<?php echo base_url(); ?>static/image/Mehendi.jpg" alt="Mehendi.jpg" class="ssl" width="100%"/>
						</div>
					</div>
					<div class="col-lg-4 col-sm-4 col-md-4">
						<div class="thumbnail">
							<img src="<?php echo base_url(); ?>static/image/mehendi3.jpg" alt="mehendi3.jpg" class="ssl" width="100%"/>
						</div>
					</div>
				</div>
			</div>

		</div>
	</div>