<!DOCTYPE html>
<html ng-app="venuemudel">
<head>
	<title></title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link rel="stylesheet" type="text/css" href="<?php echo base_url(); ?>static/css/lib/bootstrap.min.css"/>
	<link rel="stylesheet" type="text/css" href="<?php echo base_url(); ?>static/css/lawns_home.css"/>
	<link rel="stylesheet" type="text/css" href="<?php echo base_url(); ?>static/css/register.css"/>
	
</head>
<body ng-controller="venuecontroller">
<div class="row">
	<div class="col-lg-12">
		<nav class="foropacity navbar-inverse navbar-fixed-top">
			<div class="container-fluid">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        				<span class="icon-bar"></span>
       					<span class="icon-bar"></span>
       					<span class="icon-bar"></span>                        
     				</button>
					<a class="navbar-brand" href="#">Lawns</a>
				</div>
				<div class="collapse navbar-collapse" id="mynavbar">
					<ul class="nav navbar-nav navbar-right">
						<li><a class="underline_eff" href='<?php echo site_url('lawns/index');?>'><strong class="menu_colr">Home</strong></a></li>
						<li class="dropdown">
							<a class="underline_eff" href='#' class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><strong class="menu_colr">Facilities</strong></a>
							<ul class="dropdown-menu" role="menu">
								<li><a href="<?php echo site_url("/lawns/dashbord");?>">Venue</a></li>
								<li><a href="#">Mehendi</a></li>
								<li><a href="#">Photogrphy</a></li>
								<li><a href="#">Makeup</a></li>
							</ul>
						
						</li>
						<li><a class="underline_eff" href='#' class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><strong class="menu_colr">Event</strong></a></li>
						<li><a class="underline_eff" href='#'><strong class="menu_colr">Photo Gallery</strong></a></li>	
						<li><a class="underline_eff" href='<?php echo site_url('lawns/BussinessLogin');?>'><strong class="menu_colr">Register/Login</strong></a></li>
						<li><a class="underline_eff" href='#'><strong class="menu_colr">Contact Us</strong></a></li>
					</ul>
				</div>
			</div>
		</nav>
	</div>
</div>
<div class="row">
	<div class="col-lg-12" style="height:60px"></div>	
</div>
<div class="row">
	<div class="col-lg-2">
	</div>
	<div class="col-lg-5 panel panel-default regi_pane" style="padding:0px">
		
			<div class="panel-heading">
				<b>Registarion</b>
			</div>
		
		<form class="panel-body form-horizontal" action="registration_form" enctype="multipart/form-data" method="POST" name="formid" id="formid" accept-charset="utf-8">
			<div clas>
				<div class="form-group ">
					<label class="control-label col-lg-4"  for="text">Venue Name:</label>
					<div class="input-group  input-mysize">
						<input type="text" class="form-control" id="venue_name" name="venue_name" >
					</div>
				</div>
				<div class="form-group">
					<label class="control-label col-lg-4" for="Email">Email:</label>
					<div class="input-group input-mysize">
						<input type="Email" class="form-control" id="email" name="email">
					</div>	
				</div>
				<div class="row form-group">
					<label class="control-label col-lg-4" for="Budget">Password:</label>
					<div class="input-group input-mysize">
						<div class="col-lg-6 " style="margin-left:px;padding:0px">
							<input type="password" class="form-control" id="psw" name="psw" placeholder="Password">
						</div>
						<div class="col-lg-6" style="padding:0px;margin-left:px" >
							<input  type="password" class="form-control" id="confirm_psw" name="confirm_psw" placeholder="Confirm Password">
						</div>
					</div>

				</div>
				<hr/>
				<div class="form-group">
					<label  class="control-label col-lg-4" for="Address">Address:</label>
					<div class="input-group input-mysize">
						<input type="text" class="form-control" id="address" name="address">
					</div>	
				</div>
				<div class="form-group">
					<label class="control-label col-lg-4" for="State"> State:</label>
					<div class="input-group input-mysize">
						<select class="form-control selectpicker"  id="state" name="state">
							<option ng-repeat="temp in states">{{temp}}</option>
						</select>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label col-lg-4" for="City">City:</label>
					<div class="input-group input-mysize">
						<input type="text" class="form-control" id="city" name="city">
					</div>	
				</div>
				<div class="form-group">
					<label class="control-label col-lg-4" for="Pin">Pin Code:</label>
					<div class="input-group input-mysize">
						<input type="text" class="form-control" id="pin_code" name="pin_code">
					</div>	
				</div>
				<div class="form-group">
					<label class="control-label col-lg-4" for="Mobile">Mobile:</label>
					<div class="input-group input-mysize">
						<input type="text" class="form-control" id="mobile" name="mobile">
					</div>	
				</div>
				<hr/>
				<div class="form-group">
					<label  class="control-label col-lg-4" for="Website">Website:</label>
					<div class="input-group input-mysize">
						<input type="text" class="form-control" id="web_site" name="web_site">
					</div>	
				</div>
				<div class="form-group">
					<label class="control-label col-lg-4" class="control-label" for="file">Upload Images</label>
					<div class="input-group input-mysize">
						<input type="file" class="form-control" id="img_file" name="img_file[]">
					</div>	
				</div>
				
				<div class="row form-group">
					<label class="control-label col-lg-4" for="Budget">Budget:</label>
					<div class="input-group input-mysize">
						<div class="col-lg-6 " style="margin-left:px;padding:0px">
							<input type="text" class="form-control" id="min_budget" name="min_budget" placeholder="Minimum">
						</div>
						<div class="col-lg-6" style="padding:0px;margin-left:px" >
							<input  type="text" class="form-control" id="max_budget" name="max_budget" placeholder="Maximum">
						</div>
					</div>

				</div>
				<div class="form-group">
					<label class="control-label col-lg-4"  for="Capcity">Max Capcity:</label>
					<div class="input-group input-mysize">
						<input type="text" class="form-control" id="max_cpacity" name="max_cpacity">
					</div>	
				</div>
				<div class="form-group">
					<label class="control-label col-lg-4" for="Description">Description:</label>
					<div class="input-group input-mysize">
						<textarea type="text" class="form-control" id="Description" name="Description">
						</textarea>
					</div>	
				</div>
				<hr/>
				<div class="form-group">
					<div class="button_submit col-lg-3 input-group pull-center">
						<button type="btn" class="form-control btn-primary" id="submit_id">submit</button>
					</div>	
				</div>

			</div>
		</form>
	</div>

	<div class="col-lg-1">

	</div>

	<div class="col-lg-4 verticalLine">
		<h3>Contact Us</h3>
			<dl>
				<dt><p>Address:</p></dt>
				<dd><p>Baner Road, Beyond Prabhavi Techpark <p>
				<p>Sarvesh Panorama,Pune 411047</p>
				<dt><p>Phone numbers:</p></dt>
				<dd><p>9923673599/9890953206</p></dd>
				<dt><p>E-mail:</p></dt>
				<dd><p>vipulsuryavanshi11@gmail.com</p></dd>
	</div>
</div>
		<div class="row well" style="background-color:#0c1a1e;font-color:white">
		<div class="col-lg-8 col-md-4">
			<h3 style="color:#fcab0e">Contact Us</h3>
			<dl style="color:white">
				<dt><p>Address:</p></dt>
				<dd><p>Baner Road, Beyond Prabhavi Techpark <p>
				<p>Sarvesh Panorama,Pune 411047</p>
				<dt><p>Phone numbers:</p></dt>
				<dd><p>9923673599/9890953206</p></dd>
				<dt><p>E-mail:</p></dt>
				<dd><p>vipulsuryavanshi11@gmail.com</p></dd>
		</div>
		<div class="col-lg-4 col-md-4">
			<h3 style="color:#fcab0e">Map</h3>

			<div id="map" style="width:350px;height:300px;background:yellow">
			</div>
		</div>
		</div>
	</div>

<script>
function myMap() {
  var mapCanvas = document.getElementById("map");
  var mapOptions = {
    center: new google.maps.LatLng(18.564727, 73.778869), zoom: 16
  };
  var map = new google.maps.Map(mapCanvas, mapOptions);
}
</script>


<script src="//maps.googleapis.com/maps/api/js?key=AIzaSyCryCRnqf5tKcmKi-gpS4rHDWOM1GXsXQg&callback=myMap" async="" defer="defer" type="text/javascript"></script>
<script type="text/javascript" src="<?php echo base_url();?>static/js/jquery-2.2.0.js"></script>
<script type='text/javascript' src="<?php echo base_url(); ?>static/js/bootstrap.min.js"></script>
<script src="http://code.jquery.com/ui/1.11.0/jquery-ui.js"></script>
<script type='text/javascript' src="<?php echo base_url(); ?>static/js/angular.min.js"></script>
<script type='text/javascript' src="<?php echo base_url(); ?>static/js/venue.js"></script>

<script type="text/javascript">
/*$(document).ready(function(){
	var files;
	$('input[type=file]').on('change',preload);
	function preload(event){
		files=event.target.files;
	}
	$('#submit_id').click(function(event){

		event.stopPropagation();
		event.preventDefault();
		var data=[];
	//	var data=new FormData();
		$.each(files,function(key,value){
		//	console.log(key);
			data.push(key,value);
		});
		data['venue_name']=$('#venue_name').val();
		data['address']=$('#address').val();
		data['state']=$('#state').val();
		data['city']=$('#city').val();
		data['pin_code']=$('#pin_code').val();
		data['max_cpacity']=$('#max_cpacity').val();
		data['max_budget']=$('#max_budget').val();
		data['min_budget']=$('#min_budget').val();
		data['mobile']=$('#mobile').val();
		data['web_site']=$('#web_site').val();
		data['email']=$('#email').val();


			$.ajax({
					url:"<?php echo site_url('lawns/registration_form');?>",
					method:"POST",
					data:data,
					contentType:false,
					processData:false,
					mimeType:'multipart/form-data',
					success:function(data){

						var res = JSON.parse(data);
					//	alert(res.venue_name);
						//window.location('main?idd='res.venue_name);
					}
				});
		
	});
});*/
</script>
	

</body>
</html>